.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    border-radius: 15px;
}

/*
img{
    width: 270px;
    height: 480px;
}
*/
img{
    width: 216px;
    height: 384px;
}
table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}
th{
    border:2px solid black;
    border-collapse: collapse;
}

header{
    background-image: url("./images/ic_launcher.png");
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: right;
    padding:15px;
    background-color: black;
    color:white;
    border-radius: 15px;
}

th{
    font-size: 14pt;
}

@media screen and (max-width: 1400px) {
    img{
        width: 216px;
        height: 384px;
    }
}
