h1{	
	font-size: 30pt;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px #adaca6;
	letter-spacing: 8pt;
	/*
	background: radial-gradient(#ffeba3, #fcf7de 80%);
	*/
	line-height: 40%; 	
}
h2{
	font-size: 17pt;
	/*			
	background: linear-gradient(to right, #ffeba3, #fcf7de);
	*/

}

body{
	font-size: 13.5pt;
	/*
	background-color: #fcf7de;
	*/
}

img{
	width: 95%;
	display: block;
    margin: 0 auto;
}
.wrapper{
	width: 80%;
	margin-right: auto;
	margin-left:auto;	
}